In [1]:
import pandas as pd


df1 = pd.read_excel('source_data/SLFRF-2021.xlsx', 'Project Updated', skiprows=0, index_col=0)
df2 = pd.read_excel('source_data/arpaQ12022.xlsx', 'Projects', skiprows=0, index_col=0)

df = df1.merge(df2, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11795 entries, 0 to 13078
Data columns (total 33 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   Recipient Name                                                                             11795 non-null  object
 1   State/Territory                                                                            11795 non-null  object
 2   Reporting Tier                                                                             11795 non-null  object
 3   Recipient Type                                                                             11795 non-null  object
 4   Project Name                                                                               11779 non-null  object
 5   Expenditure Category Group                                                                 11795 non-null  object
 6   Expenditure Category                                                                       11795 non-null  object
 7   Project Description                                                                        11782 non-null  object
 8   Adopted Budget                                                                             8000 non-null   float64
 9   Total Obligations                                                                          11795 non-null  float64
 10  Total Expenditures                                                                         11795 non-null  float64
 11  Number of Households Served (Select ECs Only)                                              247 non-null    float64
 12  Number of Workers Served (Select ECs Only)                                                 346 non-null    float64
 13  Number of Gov FTE Supported                                                                382 non-null    float64
 14  Community benefit agreement? (Infra Only)                                                  356 non-null    object
 15  Complying with David Bacon? (Infra Only)                                                   35 non-null     object
 16  Project labor agreement? (Infra Only)                                                      35 non-null     object
 17  Total Cumulative Obligations                                                               0 non-null      float64
 18  Total Cumulative Expenditures                                                              0 non-null      float64
 19  Number of Households Served (Select Expenditure Categories Only)                           0 non-null      float64
 20  Number of Workers Served (Select Expenditure Categories Only)                              0 non-null      float64
 21  Number of Gov FTE Responding to COVID-19 (Select Expenditure Categories Only)              0 non-null      object
 22  Number of Gov FTE Rehired (Select Expenditure Categories Only)                             0 non-null      object
 23  Community benefit agreement? (Infrastructure Only)                                         0 non-null      object
 24  Complying with David Bacon? (Infrastructure Only)                                          0 non-null      object
 25  Project labor agreement? (Infrastructure Only)                                             0 non-null      object
 26  Does the Project have Capital Expenditures? (Yes/No) (Select Expenditure Categories Only)  0 non-null      object
 27  Type of Capital Expenditures (Select Expenditure Categories Only)                          0 non-null      object
 28  Total Expected Cost of Capital Expenditures (Select Expenditure Categories Only)           0 non-null      float64
 29  Primary Demographic Served (Select Expenditure Categories Only)                            0 non-null      object
 30  Secondary Demographic Served (Select Expenditure Categories Only)                          0 non-null      object
 31  Tertiary Demographic Served (Select Expenditure Categories Only)                           0 non-null      object
 32  _merge                                                                                     11795 non-null  category
dtypes: category(1), float64(11), object(21)
memory usage: 3.0+ MB

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13079 entries, SLT-0525 to SLT-2117
Data columns (total 17 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Recipient Name                                 13079 non-null  object
 1   State/Territory                                13079 non-null  object
 2   Reporting Tier                                 13079 non-null  object
 3   Recipient Type                                 13079 non-null  object
 4   Project Name                                   13063 non-null  object
 5   Expenditure Category Group                     13079 non-null  object
 6   Expenditure Category                           13079 non-null  object
 7   Project Description                            13066 non-null  object
 8   Adopted Budget                                 9284 non-null   float64
 9   Total Obligations                              13079 non-null  float64
 10  Total Expenditures                             13079 non-null  float64
 11  Number of Households Served (Select ECs Only)  333 non-null    float64
 12  Number of Workers Served (Select ECs Only)     415 non-null    float64
 13  Number of Gov FTE Supported                    382 non-null    float64
 14  Community benefit agreement? (Infra Only)      409 non-null    object
 15  Complying with David Bacon? (Infra Only)       44 non-null     object
 16  Project labor agreement? (Infra Only)          44 non-null     object
dtypes: float64(6), object(11)
memory usage: 1.8+ MB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43475 entries, Abbeville County, South Carolina-SLT-1900 to Zurich city-KDNEU 713
Data columns (total 24 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   Recipient Name                                                                             43475 non-null  object
 1   State/Territory                                                                            43475 non-null  object
 2   Reporting Tier                                                                             43475 non-null  object
 3   Recipient Type                                                                             43475 non-null  object
 4   Project Name                                                                               43470 non-null  object
 5   Expenditure Category Group                                                                 43475 non-null  object
 6   Expenditure Category                                                                       43475 non-null  object
 7   Project Description                                                                        43472 non-null  object
 8   Adopted Budget                                                                             43475 non-null  float64
 9   Total Cumulative Obligations                                                               43475 non-null  float64
 10  Total Cumulative Expenditures                                                              43475 non-null  float64
 11  Number of Households Served (Select Expenditure Categories Only)                           784 non-null    float64
 12  Number of Workers Served (Select Expenditure Categories Only)                              1385 non-null   float64
 13  Number of Gov FTE Responding to COVID-19 (Select Expenditure Categories Only)              550 non-null    object
 14  Number of Gov FTE Rehired (Select Expenditure Categories Only)                             120 non-null    object
 15  Community benefit agreement? (Infrastructure Only)                                         43475 non-null  object
 16  Complying with David Bacon? (Infrastructure Only)                                          43475 non-null  object
 17  Project labor agreement? (Infrastructure Only)                                             43475 non-null  object
 18  Does the Project have Capital Expenditures? (Yes/No) (Select Expenditure Categories Only)  12589 non-null  object
 19  Type of Capital Expenditures (Select Expenditure Categories Only)                          2650 non-null   object
 20  Total Expected Cost of Capital Expenditures (Select Expenditure Categories Only)           2923 non-null   float64
 21  Primary Demographic Served (Select Expenditure Categories Only)                            43475 non-null  object
 22  Secondary Demographic Served (Select Expenditure Categories Only)                          43475 non-null  object
 23  Tertiary Demographic Served (Select Expenditure Categories Only)                           43475 non-null  object
dtypes: float64(6), object(18)
memory usage: 8.3+ MB